
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shares/_Layout.cshtml";
}

<h1>@Session["Loi"]</h1>

<h2>Nhập thêm thông tin học sinh </h2> <h4 style="color:#0094ff;">-----@Session["hocsinh"]------</h4>
<hr />
<a class="function" href="@Url.Action("CMT", "Quanlyhocsinh")">Chứng minh thư</a><br />
<a class="function" href="@Url.Action("ThemGiaykhaisinh", "Quanlyhocsinh")">Giấy khai sinh</a><br />
<a class="function" href="@Url.Action("ThemBangtotnghiep","Quanlyhocsinh")">Bằng tốt nghiệp</a><br />
<a class="function" href="@Url.Action("ThemHocba","Quanlyhocsinh")">Học bạ </a><br />
<a class="function" href="#">Người giám hộ</a><br />
<a class="function" href="#">Giấy chứng thực</a><br />

